{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock header_text %}

{% block extra_header %}
    {% url 'view_list' list.id as form_action %}
    {% include 'includes/form.html' with form=form form_action=form_action %}
{% endblock extra_header %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <table class="table" id="id_list_table">
                {% for item in list.item_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}: {{ item.text }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-6">
            <h2>List owner</h2>
            <p id="id_list_owner">{{ list.owner.email }}</p>
            <h2>Shared with</h2>
            <ul>
                {% for sharee in list.shared_with.all %}
                    <li class="list-sharee">{{ sharee.email }}</li>
                {% endfor %}
            </ul>
            <h2>Share this list:</h2>
            <form method="POST" action="{% url 'share_list' list.id %}">
                {% csrf_token %}
                {{ share_form }}
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% include "includes/scripts.html" %}
{% endblock scripts %}
